h1.logo
{
    font-size:2rem;
    color:#fff;
}
    h1.logo a
    {
        color:#fff;
    }

div.post-head h1
{
    font-size:1.9rem;
    text-align:center;
}
.navbar form
{margin:0;padding:0;
}
.btn.twitter, .skiplink.twitter {
  background: #00aced;
  border: 1px solid #00aced;
}
.btn.twitter:hover, .skiplink.twitter:hover {
  background: #21c2ff;
}
.btn.twitter:active, .skiplink.twitter:active {
  background: #0087ba;
}
.btn.facebook, .skiplink.facebook {
  background: #3b5998;
  border: 1px solid #3b5998;
}
.btn.facebook:hover, .skiplink.facebook:hover {
  background: #4c70ba;
}
.btn.facebook:active, .skiplink.facebook:active {
  background: #2d4373;
}
div.socbtns
{
    margin:0 0 15px 0;
}
.btn.pinterest, .skiplink.pinterest { background: #efefef; border: 1px solid #c92228; color:#c92228; }
.btn.pinterest:hover, .skiplink.pinterest:hover { background: #c92228; }
.btn.pinterest:active, .skiplink.pinterest:active { background: #bb191f; }
.btn.pinterest a
{
    color:#c92228;
}
.btn.pinterest a:hover
{
    color:#efefef;
}
.wrapper.goToStore
{
    background-color:#fff;
    margin:5px 0 10px;
    padding:5px 3px 15px;
}
.center-align
{
    text-align:center;
}
.wrapper.goToStore div.btn
{
    height:39px;
}
div.wrapper.goToStore div.btn a
{
    font-size:1.2rem;
    padding-bottom:2px;
    padding-top:2px;
}
.wrapper.email-sbmt
{
    background-color:#F3F3F3 !important;
    border-bottom:1px solid #EFEFEF;
    border-top:1px solid #EFEFEF;
    color:#565a5d;
    margin-bottom:15px;
    padding:17px 3px 2px;
}

    .wrapper.email-sbmt h5
    {
        font-size:1.5rem;
        color:#565a5d;
        font-weight:lighter;
    }

.wrapper.email-sbmt input.wide
{
    width:46%;
}

div.subh2 h2
{
    font-size:1.4rem;
    margin-top:10px;
    padding:10px 4px;
    text-align:left;
}
table.price-compare
{
    border:1px solid #E5E5E5;
    display:table;
    font-size:0.9rem;
    margin-bottom:20px;
    border-collapse:collapse;
}
    table.price-compare tbody
    {
        margin:0;
        padding:0;
    }
    table.price-compare tr.first-child
    {
        border-top:1px solid #e5e5e5;
    }
    table.price-compare tr
    {
        border-bottom:1px solid #e5e5e5;
        margin:5px 0;
    }
    table.price-compare td.first-child
    {
        font-weight:bold;
    }
    table.price-compare tr td
    {
        line-height:1.6rem;
        padding:8px;
        text-align:center;
    }

div.performance-ad
{
    padding:24px 0 18px;
}

.relPosts ul li a
{
    color:#565A5D;

}
    .relPosts ul li a:hover
    {
        text-decoration:underline;
    }

div.footer
{
    text-align:center;
    
    margin:10px 0 5px;
}
    div.footer p
    {
font-size:0.8rem;
    }
